In [22]:
# Import modules
import pandas as pd
from datetime import time
from datetime import datetime

In [3]:
# Import data
bitcoin = pd.read_csv('bitcoin.csv')
litecoin = pd.read_csv('litecoin.csv')
ethereum = pd.read_csv('ethereum.csv')
zcash = pd.read_csv('zcash.csv')

In [4]:
# Drop the *USD ending from each cryptocurrency symbol
bitcoin['Symbol'] = bitcoin.Symbol.replace("BTCUSD", "BTC")
litecoin['Symbol'] = litecoin.Symbol.replace("LTCUSD", "LTC")
ethereum['Symbol'] = ethereum.Symbol.replace("ETHUSD", "ETH")
zcash['Symbol'] = zcash.Symbol.replace("ZECUSD", "ZEC")

In [5]:
# Combine the four cryptocurrencies into one dataframe
coins = [bitcoin, litecoin, ethereum, zcash]
all_crypto = pd.concat(coins)

In [7]:
all_crypto = all_crypto[['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Volume']].copy()

In [25]:
all_crypto.head()

,Date,Symbol,Open,High,Low,Close,Volume
0,2021-03-14 04:00:00,BTC,61354.75,61500.82,58750.00,59314.81,896.762296
1,2021-03-13 04:00:00,BTC,56705.84,61785.00,56284.51,61354.75,2135.307447
2,2021-03-12 04:00:00,BTC,57111.63,57959.22,55050.00,56705.84,1595.580158
3,2021-03-11 04:00:00,BTC,55971.68,58120.00,54281.74,57111.63,1776.090419
4,2021-03-10 04:00:00,BTC,53466.19,57400.00,53049.00,55971.68,2062.285586

In [23]:
all_crypto['Date'] = pd.to_datetime(all_crypto['Date'], infer_datetime_format=True)

In [35]:
# Create a month column
all_crypto['Month'] = pd.DatetimeIndex(all_crypto['Date']).month

In [37]:
# Create a year column
all_crypto['Year'] = pd.DatetimeIndex(all_crypto['Date']).year

In [ ]:
# C

In [38]:
all_crypto.head()

,Date,Symbol,Open,High,Low,Close,Volume,Month,Year
0,2021-03-14 04:00:00,BTC,61354.75,61500.82,58750.00,59314.81,896.762296,3,2021
1,2021-03-13 04:00:00,BTC,56705.84,61785.00,56284.51,61354.75,2135.307447,3,2021
2,2021-03-12 04:00:00,BTC,57111.63,57959.22,55050.00,56705.84,1595.580158,3,2021
3,2021-03-11 04:00:00,BTC,55971.68,58120.00,54281.74,57111.63,1776.090419,3,2021
4,2021-03-10 04:00:00,BTC,53466.19,57400.00,53049.00,55971.68,2062.285586,3,2021

In [7]:
bitcoin.to_csv('bitcoin.csv')
litecoin.to_csv('litecoin.csv')
ethereum.to_csv('ethereum.csv')
zcash.to_csv('zcash.csv')

all_crypto.to_csv('all_crypto.csv')